<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <h1>All employees</h1>
    <header>
      <strong><u><a href="/employed?">Employed</a></u></strong>
      <strong><u><a href="/employed?">Unemployed</a></u></strong>
    </header>

    <div id ="container">
      {{#users}}
      <div class="users">
      <img src="{{avatar}}" alt="whatevs">
      <h2 style="color:#417AC9">
        <a href="/details/{{id}}/{{data}}">{{name}}</a>
      </h2>
      {{job}}
      {{#company}}{{company}}{{/company}}
      {{^company}}<p class="para", style="color: red">Available for hire</p>{{/company}}
      </div>
      {{/users}}
    </div>
  </body>
</html>
